<h4>MOTOROSO</h4>
<h5>PROBLEM</h5>
        <p>Team project designing a marketplace for motor enthusiasts to find and buy parts for their autos emphasizing a browser/search by objective feature. </p>
        
        <div class="row">
          <div class="one-third column u-pull-left">
            <strong>Duration</strong>
            <ul>
              <li>3 weeks</li>
            </ul>
          </div>
          <div class="one-third column u-pull-left">
            <strong>Team</strong>
            <ul>
              <li>Myself</li>
              <li>Stephanie Hudson</li>
              <li>Justin Laguna</li>
              <li>Charles Perretti</li>
            </ul>
          </div>
          <div class="one-third column u-pull-left">
            <strong>Tools</strong>
            <ul>
              <li>Sketch 3</li>
              <li>Invision</li>
            </ul>
          </div>
        </div><!-- end row -->

        <h5>SOLUTION</h5>

        <div class="row" class="solution">
          <div class="one-half column u-pull-left preview-module">
            <%= image_tag("motoroso/wireframe1.png", class:"preview-img") %>
            <br>
              The shopping home page  has the ability to visually browse/search by one of nine given objectives (power, style, handling, comfort, interior, restoration, entertainment, security, maintenance).
          </div>
          <div class="one-half column u-pull-left preview-module">
            <%= image_tag("motoroso/wireframe2.png", class:"preview-img") %>
            <br />
            Products list page has high quality, large images with filters on the left column allowing the shopper to narrow results.
          </div>
        </div><!-- end row -->

        <br><br>
        <div class="row">
          <div class="one-half column u-pull-left preview-module">
            <%= image_tag("motoroso/wireframe3.png", class:"preview-img") %>
            <br>
            Product details page that contains lots information for research including product overview, list of muliple sellers, ratings and reviews on product and sellers, and a carousel list of related items and content.
          </div>
          <div class="one-half column u-pull-left preview-module">
            <%= image_tag("motoroso/wireframe5.png", class:"preview-img") %>
            <br>
              On review order page the shopper can see their items grouped by seller and has the ability to choose shipping options per seller.
          </div>
        </div><!-- end row -->

<hr>

<h4>UX Design Process</h4>

<br>
<h5>Interviews</h5>
<p>The team wanted to understand how car enthusiasts shopped for car parts, so we reached out to our networks to find indiviuals who could give us insights. Each member of the team conducted phone interviews, some of the questions we sought to answer were:
</p>

<div class="row">
  <div class="one-half column">
    <ul>
    <li>Do you shop online or in stores?</li>
    <li>Where do you find information about car parts?</li>
    <li>Do you read or participate in online car forums?</li>
    <li>Do you shop online in general? If so where? What do you like/dislike about those sites?</li>
    </ul>
  </div>
  <div class="one-half column"><%= image_tag("motoroso/interview_questions.JPG", class:"full-width") %></div>
</div>

<br>
<h5>Findings and Insights</h5>
<div class="row">
  <div class="one-half column">
    <p>Afterwards the team gathered to share what we each learned from our interviews. From there we collected all of our 
      knowledge and wrote what we learned on post-it notes to do an affinity mapping exercise. This allowed us to see 
      any trends in the car community and to extract any insights we could from what was learned.</p>
    <p>We learned that most enthusiasts like to shop online, although some prefer the person-to-person experience shopping at a store.</p>
    <p>An insight we gained was car enthusiasts seek knowledge from the pros. We learned that they will post on forums any questions they have about their autos. Some look at car magazines for information or will talk directly to part manufactors.</p>
  </div>
  <div class="one-half column"><%= image_tag("motoroso/interview_findings.JPG", class:"full-width") %></div>
</div>

<br>
<h5>Competitive Audit</h5>
<p>
  The stakeholders of Motoroso give the team a list of sites they felt had the kind of experience they wanted for the markeplace. We divided the list amoung each group member. The sites I looked it were: huckberry.com, warbyparker.com, dudepins.com and zappos.com.
</p>
<p>Things I paid close attention to were aesthetics, layout, overall shopping experience, product display, product information, shopping cart, checkout process and many other things.</p>
<div class="row">
  <div class="one-half column">
    <p>The team did another affinity mapping exercise so we collectively visualize our 
    findings.</p>
    <p>A few things we learned:
      <ul>
        <li>forums are aesthetically unpleasing and difficult to parse.</li>
        <li>zappos.com has an effective filtering feature</li>
        <li>large, high quality product images create a luxury shopping experience. </li>
      </ul>
    </p>

  </div>
  <div class="one-half column"><%= image_tag("motoroso/comp_audit.JPG", class:"full-width") %></div>
</div>

<br>
<h5>Sketching and Paper Prototyping</h5>
  <p>Keeping in mind what we learned from interviews and website audits the group did a sketching exercise called <em>design studio</em>. We each sketched, on paper, interface ideas and then as a group critiqued each design and decided which sketches best fit the goal of the project. From there we resketched the designs to make a cleaner paper prototype that we could test with users.
  </p>
  
  <div class="row">
    <div class="one-half column"><%= image_tag("motoroso/sketch1.jpg", class:"full-width") %></div>
    <div class="one-half column"><%= image_tag("motoroso/sketch2.jpg", class:"full-width") %></div>
  </div>
  <div class="row">
    <div class="one-half column"><%= image_tag("motoroso/sketch3.jpg", class:"full-width") %></div>
    <div class="one-half column"><%= image_tag("motoroso/sketch4.jpg", class:"full-width") %></div>
  </div>


<br>
  <p class="txt-center"><a href="https://projects.invisionapp.com/share/ZG29BA073#/screens" target="_blank" class="button button-primary">View clickable prototype</a></p>