<h4>SCHOLASTIC</h4>
<h5>PROBLEM</h5>
        <p>Team project to create a website or mobile app to help role models increase reading engagement for students 8-12.
</p>
        
        <div class="row">
          <div class="one-third column u-pull-left">
            <strong>Duration</strong>
            <ul>
              <li>2 weeks</li>
            </ul>
          </div>
          <div class="one-third column u-pull-left">
            <strong>Team</strong>
            <ul>
              <li>Myself</li>
              <li>Ramsay D</li>
              <li>Jennifer Park</li>
            </ul>
          </div>
          <div class="one-third column u-pull-left">
            <strong>Tools</strong>
            <ul>
              <li>Sketch 3</li>
              <li>Invision</li>
            </ul>
          </div>
        </div><!-- end row -->

        <h5>SOLUTION</h5>

        <div class="row" class="solution">
          <div class="three columns u-pull-left preview-module">
            <%= image_tag("scholastic/parent1.png", class:"preview-img") %>
            <br>
              The app will make book recommendations base off the child's age, genre interest, previous books read, and what their friends are reading.
          </div>
          <div class="three columns u-pull-left preview-module">
            <%= image_tag("scholastic/parent2.png", class:"preview-img") %>
            <br />
            Both parent and child can read details about the book. In this screen the parent can suggest this book to her son and 
            the book will show up in a wishlist.
          </div>
 
          <div class="three columns u-pull-left preview-module">
            <%= image_tag("scholastic/parent3.png", class:"preview-img") %>
            <br>
            Here you can see Noah's wishlist of books that both he and mom contributed to. Mom has the ability to see this list as well so she can see what her son likes to read and get those books for him.
          </div>
          <div class="three columns u-pull-left preview-module">
            <%= image_tag("scholastic/kid3.png", class:"preview-img") %>
            <br>
              To keep kids engaged in reading the app could suggest book clubs to join near by.
          </div>
        </div><!-- end row -->

<hr>

<h4>UX Design Process</h4>

<br>
<h5>Interviews</h5>
<div class="row">
  <div class="one-half column">
    <p>The group wanted to gain a clear understanding of children’s reading habits. In order to do this we decided to interview several different groups of people: parents, kids and teachers. The parents we interviewed had children of ages ranging from 7 to 16. The ages of the kids we interviewed  ranged from 8 to 11. The teachers we interviewed taught elementary school grade levels. We also interviewed 2 owners of a local bookstore. </p>
	<p>what we wanted to know:
		<ul>
			<li>who are children’s role models?</li>
			<li>do kids naturally like to read?</li>
			<li>what do kids like to read?</li>
			<li>does gender play a role in reading habits and preferences?</li>
		</ul>
	</p>
  </div>
  <div class="one-half column"><%= image_tag("scholastic/interview_questions.jpg", class:"full-width") %></div>
</div>

<br>
<h5>Findings and Insights</h5>
<div class="row">
  <div class="one-half column">
    <p>Some of the things we found out were surprising to us. </p>

	<p>Originally we thought role models for kids would have been teen celebrities or animated characters. What we found out is the big role models in kids are their parents. Kids tend to model their reading habits after their parents. </p>

	<p>We also found out gender can play a role in reading preferences. Boys tend to relate more with male characters and will read stories with a lead male character. Girls, however, can relate to characters of either gender. We were surprised that girls could easily relate to any character but boys didn’t.</p>
  </div>
  <div class="one-half column"><%= image_tag("scholastic/interview_findings.jpg", class:"full-width") %></div>
</div>

<br>
<h5>Ideation</h5>
<div class="row">
  <div class="one-half column">
    <p>The team looked at the data and insights collected and started to think about what would get and keep kids engaged
    	in reading. We came up with many ideas, maybe too many. We thought about making a website that teachers could use
    	in the classroom. We thought about an app where kids can make up the stories. We even thought about a reading app 
    	assist kids in figuring out words they don't know yet.
    </p>
    <p>
    	Ultimately we had to land on just one idea. What resonated with us most and what we heard most often was parents
    	finding books for their kids to read. Either parents weren't sure what their kids like to read or they exhausted
    	all of the resources around them. So we saw an oppurtunity to help both parents and kids find the books those kids
    	like to read through recommendations.
    </p>
    <p>
    	The solution would be a mobile app the recommends books base of off age group, what their friends are reading, and 
    	what they have read in the past. We were thinking of a recommendation model similar to netflix.
    </p>
  </div>
  <div class="one-half column"><%= image_tag("scholastic/ideation.jpg", class:"full-width") %></div>
</div>

  
<br>
<h5>Digital Wireframe</h5>
<div class="row" class="solution">
          <div class="three columns u-pull-left preview-module">
            <%= image_tag("scholastic/wireframe1.png", class:"preview-img") %>
            <br>
              The app will make book recommendations base off the child's age, genre interest, previous books read, and what their friends are reading.
          </div>
          <div class="three columns u-pull-left preview-module">
            <%= image_tag("scholastic/wireframe2.png", class:"preview-img") %>
            <br />
            Both parent and child can read details about the book. In this screen the parent can suggest this book to her son and 
            the book will show up in a wishlist.
          </div>
 
          <div class="three columns u-pull-left preview-module">
            <%= image_tag("scholastic/wireframe3.png", class:"preview-img") %>
            <br>
            Here you can see Noah's wishlist of books that both he and mom contributed to. Mom has the ability to see this list as well so she can see what her son likes to read and get those books for him.
          </div>
          <div class="three columns u-pull-left preview-module">
            <%= image_tag("scholastic/wireframe4.png", class:"preview-img") %>
            <br>
              To keep kids engaged in reading the app could suggest book clubs to join near by.
          </div>
        </div><!-- end row -->


<br>
<h5>Final Thoughts</h5>
<p>Insert text here</p>

<p class="txt-center">
	<a href="http://invis.io/NV20O8Y6Y" target="_blank" class="button button-primary">View clickable prototype for parent</a>
	<a href="http://invis.io/EP20XAY29" target="_blank" class="button button-primary">View clickable prototype for child</a>
</p>