<h4>TRUE SPIRIT</h4>

<h5>PROBLEM</h5>
        <p>Create an ecommerce website that fits the business goals of True Spirit (a ficticous online retailer) by having a curated shopping experience while meeting the needs of the users. Provide a clear list of school approved items, an easy to find return/exchange process, clear care instructions and an easy, efficient shopping experience allowing them to save items now and purchase at a later time.</p>
        
        <div class-"row">
          <div class="one-third column u-pull-left">
            <strong>Duration</strong>
            <ul>
              <li>2 weeks</li>
            </ul>
          </div>
          <div class="one-third column u-pull-left">
            <strong>Team</strong>
            <ul>
              <li>myself (independent project)</li>
            </ul>
           
          </div>
          <div class="one-third column u-pull-left">
            <strong>Tools</strong>
            <ul>
              <li>Omni Graffle</li>
            </ul>
          </div>
        </div><!-- end row -->

        <h5>SOLUTION</h5>

      <div class="row" class="solution">
          <div class="one-half column u-pull-left preview-module">
            <%= image_tag("truespirit/wireframe1.png", class:"preview-img") %>
            <br>
              The home page contains a quick login or sign up feature allowing returning shoppers to quickly access or create and account.
          </div>
          <div class="one-half column u-pull-left preview-module">
            <%= image_tag("truespirit/wireframe2.png", class:"preview-img") %>
            <br />
            The home page has a “Find School” feature allowing shoppers to quickly find the list of approved items for their school. They can search by a school code given by the school or by zip code.
          </div>
     </div>
     <br>
      <div class="row" class="solution">
          <div class="one-half column u-pull-left preview-module">
            <%= image_tag("truespirit/wireframe5.png", class:"preview-img") %>
            <br>
            Products have a quick view option to shoppers time. Quickly see product information and add product to cart.
          </div>
          <div class="one-half column u-pull-left preview-module">
            <%= image_tag("truespirit/wireframe6.png", class:"preview-img") %>
            <br>
              For shoppers who want more details about products such a sizing and care information, they can view all that on the
              product details page.
          </div>
        </div><!-- end row -->

<hr>
<h4>UX Design Process</h4>
<br>
<h5>Competitive Audit</h5>
<div class="row">
    In order to get a sense of current market I looked at direct competitors like French Toast and Landings End. I also looked at indirect competitors like Old Navy, Uniqlo,and Aeropostale. What I was looking for at these sites was layout, product organization, design trends and best practices. I wanted to understand the shopping experience of a user from different sites to get a sense of good, clean shopping experience.

</div>

<br>
<h5>Personas</h5>
<div class="row">
  <div class="one-half column u-pull-left">
    <p>True Spirit provided a set of personas which described three of their most common users. I studied each persona looking for pain points I would solve for in my designs.</p>
    <ul>
      <li>great images</li>
      <li>detailed descriptions</li>
      <li>wide range of prices to meet wide range of budgets</li>
      <li>want efficiency</li>
      <li>clear list of approved items for each school</li>
      <li>want easy returns/exchanges process</li>
      <li>busy parents have little time to shop want ability to save items while browsing and make purchase later</li>
      <li>want clear care instructions</li>
    </ul>

  </div>
  <div class="one-half column u-pull-left"><%= image_tag("truespirit/persona.png", class:"preview-img") %></div>
</div>

<br>
<h5>User Flow</h5>
<div class="row">
  <div class="one-half column u-pull-left"><%= image_tag("truespirit/userflow.jpg", class:"preview-img") %></div>
  <div class="one-half column u-pull-left">
Sarah is a busy mom new to buying school uniforms. She visits the True Spirit website but isn’t sure what she needs to buy for her son. On the home page she see that she can go to Find School. She enters the school name and is given a list of items approved by her son’s school. She sees an item her son needs and clicks on it and is taken to a product details page. Before she decides to buy this items she looks for information important to her like, size, price and care instructions. She feels this is the right item for her son and clicks the “Add to Cart” button. From there she proceeds to cart to buy her item and follow the checkout process.

  </div>
</div>

<br>
<h5>User Testing</h5>
<div class="row">
  <div class="one-half column u-pull-left">I was able to confirm that my design for providing a simple search for the school requirements was helpful and offered a better experience. However, one user brought to my attention that some zip codes have a larger number of private schools and I might want to include some sort of auto suggest feature as the user types in the name of a school. I did not have the oppurtunity to explore this suggestion due to time constraints. 
</div>
  <div class="one-half column u-pull-left"><%= image_tag("truespirit/wireframe2.png", class:"preview-img") %></div>
</div>
<br>
<div class="row">
  <div class="one-half column u-pull-left">In this design I felt that hiding the filters initially would be more helpful for the user. I wanted to provide the user with more items across the display however I found that even though users understood the purpose of my design they wanted the ability to see the filters immediately so they could quickly filter their choices. I reconsidered my design and reverted to the standard and users seems more comfortable with this. </div>
  <div class="one-half column u-pull-left"><%= image_tag("truespirit/usertest2.png", class:"preview-img") %></div>
</div>



<br>
  <p class="txt-center"><%= link_to "View clickable prototype", asset_path("truespirit_clickable_prototype.pdf"), target:"_blank", class:"button button-primary" %></p>


