<!DOCTYPE html>
<html lang="en">
<head>
  <title>katcodes.com</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
  <% if current_page?(root_path) %>
  	<meta name="google-site-verification" content="91pFaJi7VXw-axw4c6bzZIhv6Jn2lRytJzlR7g0S2mU" />	
 <% end %>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
</head>
<body>
	
	<nav><div class="container txt-upper">
		<h4 class="u-pull-left logo"><a href="/">Kathleen Guzman</a></h4>
			<ul class="u-pull-right">
				<li class="submenu-container"><a href="/">Portfolio</a>
					<ul class="submenu">
						<li><a href="/motoroso/">Motoroso</a></li>
						<li><a href="/scholastic/">Scholastic</a></li>
						<li><a href="/truespirit/">True Spirit</a></li>
					</ul>
				</li>
				<li><a href="/about/">About</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
	</div></nav>

	<header><div class="container">
		<h3 class="quote txt-center">I value simplicity and strive to create a seamless experience for users.</h3>
		<h2 class="page-title"><%= @page_title %></h2>
	</div></header>
	
	<section><div class="container">
		<%= yield %>
	</div></section>

	<footer>
		<nav><div class="container">
			<ul class="footer-nav txt-upper">
				<li><a href="/">Portfolio</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/contact/">Contact</a></li>
				<li><a href="/other/">Other</a></li>
			</ul>
	</div></nav>
	<span class="txt-center txt-tiny">Designed & built by Kathleen Guzman using <a href="http://getskeleton.com">Skeleton</a></span>
	<br><br>
	</footer>
  <!-- Google Analytics Code -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60733876-1', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- Modal Code -->
		<div class="modal overlay">
			<div class="image"><img src="" class="modalImg"></div>
		</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
 </body>
</html>
