<!DOCTYPE html>
<html>
<head>
  <title>katcodes.com</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<nav><div class="container">
		<h4 class="txt-upper u-pull-left logo">Kathleen Guzman</h4>
			<ul class="txt-upper u-pull-right">
				<li><a href="/portfolio/">Portfolio</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/contact/">Contact</a></li>
				<li><a href="/">Home</a></li>
			</ul>
	</div></nav>
	<header><div class="container"><h2 class="page-title"><%= @page_title %></h2></div></header>
	<section><div class="container">
		<%= yield %>
	</div></section>

	<footer>
		<nav><div class="container">
			<ul class="footer-nav txt-upper">
				<li><a href="/portfolio/">Portfolio</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/contact/">Contact</a></li>
				<li><a href="/">Home</a></li>
			</ul>
	</div></nav>
	</footer>

 </body>
</html>
